body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url("images/about.jpg");
    background-size:contain;
    overflow-x: hidden;
    text-decoration: none;

}

/* Header Section */

header {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 30px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 20px;  
}
header a{
    color: white;
    text-decoration: none;  
}
header h1 {
    font-size: 36px;
    margin-left: 100px;
    text-align: left;
}
header a:hover{
    background: linear-gradient(to right top, #d16ba5, #d267b0, #d164bd, #cc62cb, #c562da, #b26be6, #9c74f0, #817cf8, #5a88f6, #3290ee, #0b95e2, #1499d3);
    background-clip: text;
    color: transparent;
    }

/* Navigation Bar - Right Aligned */
nav {
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    margin-left: 100px;
    margin-right: 100px; 
    font-weight: bold;
    backdrop-filter: blur(14px);
    background-color: transparent;

}

nav a {
    color: white;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    
}


.button{ 
    padding: 10px 24px;
    border-radius: 30px;
    color: white;
    background-image: linear-gradient(to right, rgb(107, 24, 107) , rgb(46, 20, 88));
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;

}

nav a button:hover {
    background-image: linear-gradient(to right, rgb(107, 24, 107) , rgb(46, 20, 88));
    transform: scale(1.1);
}


/* Main Content Section */

.hero h2{
    font-size: 100px;
    text-align: center;
    font-weight: lighter;
    color: white;
    padding: 250px 100px;
}


.hero p{
    font-size: 30px;
    text-align: center;
    color: white;
    line-height: 0.3;
}

.span{
    background: linear-gradient(84deg, rgba(159,151,219,1) 0%, rgba(184,200,233,1) 28%, rgba(193,108,228,1) 47%, rgba(210,134,217,1) 69%, rgba(195,64,174,1) 100%);    
    background-clip: text;
    color: transparent;
    font-weight: bold;

}

.box h1{
    color: white;
    background-image: linear-gradient(43deg, #b10e6d 0%, #4b3a66 59%, #3018a8 87%);
    text-align: center;
    padding: 200px 50px;
    font-size: 30px;
    font-weight: lighter;

}

  
/* Footer Section */
footer {
    color: white;
    text-align: left;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    margin-left: 100px;
    margin-right: 100px; 
}



.social-links a {
    color: white;
    text-decoration: none;
    align-items: right;
}   